<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bergburg.bergburg">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application
        android:name=".helpers.ApplicationClass"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.BergBurg"
        tools:targetApi="31">
        <activity
            android:name=".view.activity.TesteImpremirActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".view.activity.EmitirPedidoActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".view.activity.ExibirPedidoctivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:theme="@style/Theme.BergBurg_NoActionBar" />
        <activity
            android:name=".view.activity.ConsultarPedidoActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:label="@string/consultar_pedido"
            android:parentActivityName=".view.activity.PrincipalActivity" />
        <activity
            android:name=".view.activity.ItemCardapioActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BergBurg_NoActionBar" />
        <activity
            android:name=".view.activity.CardapioActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:label="@string/cardapio"
            android:theme="@style/Theme.BergBurg_NoActionBar" />
        <activity
            android:name=".view.activity.PrincipalActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".view.activity.MesaActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".view.activity.SelecionarMesaActivity"
            android:theme="@style/Theme.BergBurg_NoActionBar" />
        <activity
            android:name=".view.activity.SelecionarMesaActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".view.activity.PrincipalActivity" />
        <activity
            android:name=".view.activity.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BergBurg_NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>